body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration:none;  
}

/* Reset Styles */
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

/* Common Styles */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    
.img {
    display: block;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
}

.container-header{
    display: flex;
}
.navigation {
    display: flex;
    align-items: center;

}

.header-logo {
    display: block;
    align-items: center;
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio {
    color: #2E2F42;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu-list {
    color: #2E2F42;
    padding: 24px 0;
    padding-bottom: 24px;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;

}

.header-list:hover {
    color: #404bbf;
}

.header-list:focus {
    color: #404bbf;
}

/* Adress */
.address {
    font-style: normal;
    list-style: none;
}

.contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-link{
    list-style: none;
}

.contacts:hover {
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

/* First section */

.section-first {
    display: flex;
    background-color: #2e2f42;
    
}

.title-section-first {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-first-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff
}

.section-first-button:hover {
    background-color: #404BBF
}

.section-first-button:focus {
    background-color: #404BBF
}

/* Section Second */

/* .section-second-list {
    
} */

.section-second-title {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-second-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section third */
.section-third {
    background-color: #F4F4FD;
}

.section-third-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-third-list {
    background-color: #FFFFFF
}

.section-third-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-third-list-parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

/* Section-fourth */

.section-fourth-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-fourth-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-fourth-parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-span {
    color: #f4f4fd;
}

.footer-parag {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}